.wrap {

  /* overflow-x: scroll; */
  /* overflow-y: scroll; */

  height: 30px;
  min-width: 150px;
  /* width: 200px; */
  /* padding: 5px; */
  /* padding-left: 10; */
  border-radius: 5px;
  border-width: 5;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  /* margin: 10px; */
 
 
  flex-wrap: wrap;
  flex: 1;
  border-bottom-style: groove;
  /* border-bottom-color: coral; */
  border-bottom-width: 7px;
  width: 10px;
  /* border-bottom: 5px; */
  /* border-color: red; */
}

.flex-container {

  /* flex-direction: row; */
  display: flex;
  width: 500;
  overflow-x: scroll;
}

/* .contain{
  overflow-x: scroll;

} */
.wrap-container{
 
 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 gap: 1rem;
  

}
.list{

  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: space-around;
 
  height: min-content;

}

